.form {
  padding: 1em 1em;
}
.text {
  margin: 1em 0 !important;
}


@media screen and (min-width:480px){
    .form {
        padding: 1em 5em;
      }
}

@media screen and (min-width:720px){
    .form {
        padding: 1em 10em;
      }
}