.wrapper-class{
    background-color: #868686;

}

.editor-class{
    background-color: red;
}

.toolbar-class{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rdw-inline-wrapper , .rdw-list-wrapper, .rdw-text-align-wrapper{
    display: flex;
}